@keyframes pulsate {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.6;
  }

  100% {
    opacity: 0;
  }
  100% {
    transform: scale(1.3);
  }
}

.about {
  padding: 100px 80px 173px;
  background-color: #0a2850;
  color: #fff;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  display: flex;
  z-index: 1;
  gap: 120px;
}

.about__paragraph {
  margin: 0 0 20px;
}

.about__paragraph:last-child {
  margin-bottom: 0;
}

.about__title {
  margin: 0;
  font-family: "Inter" Arial, sans-serif;
  max-width: 251px;
  font-size: 44px;
  line-height: 52px;
  font-weight: 500;
  z-index: 1;
}

.about__content {
  font-family: "Noto Serif" Times New Roman, serif;
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
  font-weight: normal;
  max-width: 660px;
  z-index: 1;
  margin-left: auto;
  margin-top: 19px;
}

.about__circle {
  background-color: #2f80ed;
  width: 426px;
  height: 426px;
  border-radius: 50%;
  position: absolute;
  left: -129px;
  top: -152px;
}

.about__animation_blurred {
  animation: pulsate 1.3s infinite ease-in-out;
  background-color: #2f80ed;
  width: 426px;
  height: 426px;
  border-radius: 50%;
  left: -129px;
  top: -152px;
  position: absolute;
  opacity: 0.6%;
}
