.recipes {
  padding: 100px 80px 215px;
  background-image: url(../images/background_recipes.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #0a2750;
  color: #fff;
}

.recipes__title {
  max-width: 500px;
  font-family: "Inter" Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0;
}

.recipes__subtitle {
  max-width: 438px;
  font-family: "Noto serif" Times New Roman, serif;
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
  font-weight: normal;
  margin: 24px 0 80px;
}

.recipes__iframe {
  height: 273px;
  width: 480px;
  border: none;
}

.recipes__videos {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.recipes__videos-caption {
  display: flex;
  justify-content: space-between;
  font-family: "Inter" Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin: 24px 0 0;
}
