.page {
  max-width: 1600px;
  min-width: 1100px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 20px;
  font-family: "Inter", "arial", sans-serif;
}

.header {
  background-color: #ffffff;
  background-image: url(/images/background_header.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  justify-content: space-between;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__logo {
  position: relative;
  left: -50px;
  width: 105px;
  height: 39px;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav__link {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

.header__title {
  max-width: 729px;
  font-size: 60px;
  line-height: 72px;
  margin: 183px 0 0;
  letter-spacing: -0.6px;
  font-weight: 500;
  z-index: 1;
  font-family: "inter";
}

.header__description {
  max-width: 683px;
  font-size: 20px;
  line-height: 30px;
  margin: 20px 0 0;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
}

.header__span-accent {
  display: block;
  font-style: italic;
  font-family: "Noto Serif";
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
  margin: 0;
  z-index: 0;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__paragraph {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  margin: 0;
}

.header__address {
  margin-top: 40px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.recipes {
  padding: 100px 80px 215px;
  background-image: url(/images/background_recipes.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #0a2750;
}

.recipes__title {
  max-width: 500px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0;
}

.recipes__subtitle {
  max-width: 438px;
  font-family: "Noto-serif";
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
  font-weight: normal;
  margin: 24px 0 80px;
}

.recipes__iframe {
  height: 273px;
  width: 480px;
}

.recipes__videos {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.recipes__videos-caption {
  display: flex;
  justify-content: space-between;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin: 24px 0 0;
}
