@import url(../vendor/normalize.css);
@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/nav.css);
@import url(../blocks/recipes.css);
@import url(../blocks/reservation.css);
@import url(../blocks/form.css);
@import url(../blocks/about.css);
@import url(../blocks/menu.css);
@import url(../blocks/card.css);
@import url(../blocks/footer.css);

.page {
  max-width: 1600px;
  min-width: 1100px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 20px;
  font-family: "Inter", "arial", sans-serif;
}

.header {
  background-color: #ffffff;
  background-image: url(/images/background_header.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
  display: flex;
  flex-direction: column;
}

.header__title {
  max-width: 729px;
  font-size: 60px;
  line-height: 72px;
  margin: 183px 0 0;
  letter-spacing: -0.6px;
  font-weight: 500;
  z-index: 1;
  font-family: "inter";
}

.header__description {
  max-width: 683px;
  font-size: 20px;
  line-height: 30px;
  margin: 20px 0 0;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
}

.header__span-accent {
  display: block;
  font-style: italic;
  font-family: "Noto Serif";
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
  margin: 0;
  z-index: 0;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__paragraph {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  margin: 0;
}

.header__address {
  margin-top: 40px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.nav {
  display: flex;
  justify-content: space-between;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__logo {
  position: relative;
  left: -50px;
  width: 105px;
  height: 39px;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav__link {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

.nav__link:hover {
  color: #2f80ed;
}

.recipes {
  padding: 100px 80px 215px;
  background-image: url(/images/background_recipes.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #0a2750;
}

.recipes__title {
  max-width: 500px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0;
}

.recipes__subtitle {
  max-width: 438px;
  font-family: "Noto-serif";
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
  font-weight: normal;
  margin: 24px 0 80px;
}

.recipes__iframe {
  height: 273px;
  width: 480px;
  border: none;
}

.recipes__videos {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.recipes__videos-caption {
  display: flex;
  justify-content: space-between;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin: 24px 0 0;
}

.reservation {
  padding: 100px 0 120px;
  background-image: url(/images/background_reservation.svg);
  background-color: #d9e7ff;
  background-repeat: no-repeat;
  background-size: cover;
}

.reservation__title {
  margin: 0 0 80px;
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  margin: 0 auto;
}

.form {
  max-width: 385px;
}

.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.form__label {
  margin-bottom: 32px;
  display: block;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
}

.form__input {
  display: block;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  margin-top: 8px;
  height: 60px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}

.form__checkbox {
  border-radius: 2px;
  height: 20px;
  width: 20px;
  margin-right: 12px;
  background-image: url(/images/check.svg);
}

.form__button {
  width: 100%;
  padding: 0;
  margin-bottom: 32px;
  height: 60px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #2f80ed;
  border: none;
  color: #ffffff;
  border-radius: 4px;
}

.form__button:hover {
  opacity: 70%;
}

.menu {
  padding: 100px 0 100px;
  background-color: #ffffff;
  background-image: url(/images/background_menu.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.menu__title {
  text-align: center;
  margin: 0 auto 24px;
  max-width: 780px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.menu__subtitle {
  text-align: center;
  margin: 0 auto 100px;
  max-width: 780px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.menu__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
  padding: 0;
  margin: 0;
}

.card {
  width: 540px;
}

.card__title {
  margin: 0 0 32px;
}

.card__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  flex-direction: column;
  gap: 16px;
  list-style-type: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.card__list-item {
  display: flex;
  margin-bottom: 16px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.card__list-item:last-child {
  margin-bottom: -16px;
}

.card__list-divider {
  border-bottom: 1px solid black;
  flex-grow: 1;
}

.about {
  padding: 119px 80px 173px;
  background-color: #0a2850;
  color: #fff;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  display: flex;
  z-index: 1;
  gap: 120px;
}

.about__paragraph {
  margin: 0 0 20px;
}

.about__paragraph:last-child {
  margin-bottom: 0;
}

.about__title {
  margin: 0;
  font-family: "Inter";
  max-width: 251px;
  font-size: 44px;
  line-height: 52px;
  font-weight: 500;
  z-index: 1;
}

.about__content {
  font-family: "Noto Serif";
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
  font-weight: normal;
  max-width: 660px;
  z-index: 1;
  margin-left: auto;
}

.about__circle {
  background-color: #2f80ed;
  width: 426px;
  height: 426px;
  border-radius: 50%;
  position: absolute;
  left: -129px;
  top: -152px;
}

.about__circle_animation_blurred {
  animation: pulsate 1.3s infinite ease-in-out;
  background-color: #2f80ed;
  width: 426px;
  height: 426px;
  border-radius: 50%;
  left: -129px;
  top: -152px;
  position: absolute;
  opacity: 0.6%;
}

.footer {
  box-sizing: border-box;
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  color: #fff;
  padding: 60px 80px 100px 60px;
  margin: 0;
}

.footer__content {
  display: flex;
}

.footer__column_content_social {
  margin-left: auto;
}

.footer__logo {
  width: 105px;
  height: 39px;
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__list-item {
  margin: 0 0 16px;
}

.footer__list-item:last-of-type {
  margin-bottom: 0;
}

.footer__social-heading {
  margin: 0 0 20px;
  font-size: 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  line-height: 20px;
}

.footer__social-link {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  margin-bottom: 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.footer__social-link:last-child {
  margin-bottom: 16px;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__social-icon {
  margin-right: 10px;
  height: 16px;
  width: 16px;
}

.footer__copyright {
  margin: 108px 0 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
